/* Add custom styles here */

/* Custom styles for the navbar-toggler */
.navbar-toggler {
    border: none; /* Removes the border */
    background-color: transparent; /* Sets a transparent background */
    outline: none; /* Removes outline */
}

/* Focus and active styles for navbar-toggler to remove the box-shadow */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/* Custom styles for the navbar-toggler-icon */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(155, 169, 242)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* Ensure the navbar-toggler is visible */
.navbar-toggler {
    display: block;
}

/* Styles to hide and show the menu */
@media screen and (max-width: 600px) {
    .navbar-collapse {
        display: none;
    }

    .navbar-collapse.collapsing,
    .navbar-collapse.show {
        display: block;
    }
}


#headerTitle {
    color: #9BA9F2;
}

.tagline-container {
    text-align: center;
    margin: 50px 0;
    height:50vh;
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Aligns children vertically */
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
}

.tagline {
    font-size: 2.5em; /* Large font size */
    font-weight: bold; /* Bold font */
    margin: 0.5em 0;
}

.webwatcher-link {
    font-size: 1em;
    text-align: center;
}

/* Index style */
.container {
    padding: 20px;
    border: 1px solid #bac2ec;
    border-radius: 5px;
}

.card-header {
    background-color: #9BA9F2;
    color:#ffffff;
    border: none;
}

.card-body {
    background-color: #bac2ec; /* Slightly lighter blue background for the card body */
    color:#ffffff;
}

.btn-link {
    color: #ffffff; /* White text for the accordion buttons */
    text-decoration: none;
    font-weight: 500;
}

.btn-link:hover, .btn-link:focus {
    text-decoration: none;
    color: #ffffff; /* Light grey for hover/focus state */
}

.btn-primary, .btn-main {
    margin-top: 10px;
    color:#ffffff;
    background-color: #9BA9F2;
    border: 1px solid #9BA9F2;
}

.btn-main-mt0 {
    margin-top:10px;
    color:#ffffff;
    background-color: #9BA9F2;
    border: 1px solid #9BA9F2;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary:active {
    text-decoration: none;
    color: #ffffff; /* Light grey for hover/focus state */
    background-color: #7186ef;
    border-color: #7186ef;
}

.btn-main:hover, .btn-main:focus, .btn-main.focus, .btn-main:active, .btn-main:active {
    text-decoration: none;
    color: #ffffff; /* Light grey for hover/focus state */
    background-color: #7186ef;
    border-color: #7186ef;
}

.col-md-6 {
    text-align: center;
}

.services-col {
    display: flex;        /* Enables flexbox */
    flex-direction: column; /* Stacks items vertically */
    justify-content: center; /* Centers items vertically */
    align-items: center; /* Centers items horizontally */
    height: 100%; /* Set a specific height or 100% to take full parent height */
}

/* Gradient background */
body, html {
    height: 100%;
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #FFFFFF, #bac3ef);
    background-size: 400% 400%;
    animation: Gradient 3s ease infinite;
}

@keyframes Gradient {
    0%, 100% { background-position: 100% 50%; }
    50% { background-position: 0% 50%; }
}


header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Footer styles */
footer {
    padding: 10px 0;
    background-color: #f8f9fa; /* Adjust background color as needed */
    color: #333; /* Adjust text color as needed */
    bottom: 0;
    width: 100%;
}

/* webwatcher highlights */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Black background with opacity */
    z-index: 1000; /* Ensure it's above other elements */
}

.highlight {
    position: relative;
    z-index: 1001; /* Above the overlay */
    border: 2px solid yellow; /* Highlight style */
}


.info-box {
    position: fixed;
    font-size: .9em;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1002; /* Above the overlay and highlighted elements */
    padding: 10px;
    color: #000;
    background-color: #fff;
    border-radius: 8px;
    text-align: left;
    border: 1px solid #000000;
}

/* Styles that only apply when the browser's width is less than or equal to 600px */
@media only screen and (max-width: 600px) {
    .info-box {
        width: 80%;
    }
}

/* Styles that only apply when the browser's width is greater than 600px */
@media only screen and (min-width: 601px) {
    .info-box {
        width: 400px;
    }
}

.custom-bullet {
    margin-left: 20px; /* Adjust indentation */
    padding-left: 10px; /* Space for the bullet */
    text-indent: -10px; /* Align text with the parent element */
    margin-bottom: 2px;
}

.bullet-symbol {
    color: #555; /* Bullet color */
}



/* Styles that only apply when the browser's width is less than or equal to 600px */
@media only screen and (max-width: 600px) {
    .example-pane {
        margin:auto;
        width:100%;
        margin-top:50px;
        margin-bottom:50px;
    }
    
    .example-pane img {
        width:100%;
    }
    
    .example-text-pane {
        width: 80%;
        margin:auto;
    }
}

/* Styles that only apply when the browser's width is greater than 600px */
@media only screen and (min-width: 601px) {
    .example-pane {
        margin:auto;
        width:80%;
        margin-top:50px;
        margin-bottom:50px;
    }
    
    .example-pane img {
        width:100%;
    }
}


/* loading */
.spinner {
    border: 10px solid white; /* Light grey */
    border-top: 10px solid #9BA9F2; /* Blue color */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    display: block;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

